a { color:#FFFFFF; } 
a:visited { color:#FFFFFF; } 
a:active { color:#FFFFFF; } 
a:hover { color:#FFFFFF; }

body {  background:#000000; padding:0;  margin: 0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; }